# Objectives

* Understand latent factors model for collaborative filtering


* Contrast the latent factors model and nearest neighbors model


* Use Optimization technique to solve for latent factors
    * Stochastic Gradient Descent
    
<img src='../img/reco13.JPG'>

# Latent factor analysis is analogous to Principal Component Analysis in Matrix Algebra

# Some questions it is poised to solve

## Why are some products rated high and others low?
## Why do some users like certain products?
## Are there some products that influence all users' ratings?

<img src='../img/reco14.JPG'>

# How it shows in matrix form

<img src='../img/reco15.JPG'>

# How Content Based Filtering and Latent Factor Analysis compare with each other

<img src='../img/reco16.JPG'>


## 1. Online Updates possible in Nearest Neighbors model - With every active user rating stored in-memory it's possible to take into account new ratings at a real time basis.

## 2. In Nearest neighbors, Rating matrix is kept in memory at all times and user recommendations are computed on demand.

## 3. At the same time, Latent factor models use offline updates and are faster during inference time.

## 4. In LFA, Rating Matrix are decomposed offline and all recommendations can easily be pre-computed as a one-off.


# Decomposition of Rating Matrix

<img src='../img/reco17.JPG'>
<img src='../img/reco18.JPG'>
<img src='../img/reco19.JPG'>
<img src='../img/reco20.JPG'>

In [1]:
import pandas as pd
dataFile='../datasets/BX-Book-Ratings.csv'
data=pd.read_csv(dataFile,sep=";",header=0,names=["user","isbn","rating"],encoding='latin8')

In [2]:
data.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [3]:
bookFile='../datasets/BX-Books.csv'
books=pd.read_csv(bookFile,
                  sep=";",
                  header=0,
                  error_bad_lines=False, 
                  usecols=[0,1,2],
                  index_col=0,
                  names=['isbn',"title","author"],
                  encoding='latin8'
                 )

In [4]:
books.head()

,title,author
isbn,,
0195153448,Classical Mythology,Mark P. O. Morford
0002005018,Clara Callan,Richard Bruce Wright
0060973129,Decision in Normandy,Carlo D'Este
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
0393045218,The Mummies of Urumchi,E. J. W. Barber

# Steps to follow 


<img src='../img/reco21.JPG'>

In [5]:
def bookMeta(isbn):
    title = books.at[isbn,"title"]
    author = books.at[isbn,"author"]
    return title, author
bookMeta("0671027360")

('Angels &amp; Demons', 'Dan Brown')

In [6]:
data = data[data["isbn"].isin(books.index)]

In [7]:
def faveBooks(user,N):
    userRatings = data[data["user"]==user]
    sortedRatings = pd.DataFrame.sort_values(userRatings,['rating'],ascending=[0])[:N] 
    sortedRatings["title"] = sortedRatings["isbn"].apply(bookMeta)
    return sortedRatings

In [8]:
faveBooks(204622,5)

,user,isbn,rating,title
844955,204622,0967560500,10,"(Natural Hormonal Enhancement, Rob Faigin)"
844935,204622,0671027360,10,"(Angels &amp; Demons, Dan Brown)"
844926,204622,0385504209,10,"(The Da Vinci Code, Dan Brown)"
844958,204622,097173660X,9,"(Life After School Explained, Cap &amp; Compass)"
844920,204622,0060935464,9,"(To Kill a Mockingbird, Harper Lee)"

In [9]:
data.shape

(1031175, 3)

In [10]:
usersPerISBN = data.isbn.value_counts()
usersPerISBN.head(10)

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
044023722X     647
0142001740     615
067976402X     614
0671027360     586
0446672211     585
Name: isbn, dtype: int64

In [11]:
usersPerISBN.shape

(270170,)

In [12]:
ISBNsPerUser = data.user.value_counts()

In [13]:
ISBNsPerUser.shape

(92107,)

In [14]:
data = data[data["isbn"].isin(usersPerISBN[usersPerISBN>10].index)]

In [15]:
data = data[data["user"].isin(ISBNsPerUser[ISBNsPerUser>10].index)]

# Creating a rating matrix using scipy.coo_matrix which takes a tuple with rating data, row names and column names

<img src='../img/reco22.JPG'>

<img src='../img/reco23.JPG'>

<img src='../img/reco24.JPG'>

<img src='../img/reco25.JPG'>

In [32]:
from scipy.sparse import coo_matrix
data['user'] = data['user'].astype("category")
data['isbn'] = data['isbn'].astype("category")

R = coo_matrix((data['rating'].astype(float),
                       (data['user'].cat.codes.copy(),
                        data['isbn'].cat.codes.copy())))

In [33]:
R.shape

(10706, 15451)

In [34]:
len(R.data)

405709

In [35]:
R.data[0]

0.0

In [36]:
R.row[0]

10633

In [37]:
R.col[0]

3053

In [38]:
M,N = R.shape
K = 3

In [39]:
import numpy as np
P = np.random.rand(M,K)
Q = np.random.rand(K,N)

In [40]:
from numpy.linalg import norm

def error(R,P,Q,lamda=0.02):
    ratings = R.data
    rows = R.row
    cols = R.col
    e = 0 
    for ui in range(len(ratings)):
        rui=ratings[ui]
        u = rows[ui]
        i = cols[ui]
        if rui>0:
            e= e + pow(rui-np.dot(P[u,:],Q[:,i]),2)+\
                lamda*(pow(norm(P[u,:]),2)+pow(norm(Q[:,i]),2))
    return e

In [41]:
error(R,P,Q)

7104605.348284014

In [42]:
rmse = np.sqrt(error(R,P,Q)/len(R.data))

In [43]:
rmse

4.184683901368743

# Implementing Schotastic Gradient Descent

<img src='../img/reco26.JPG'>
____________________________________________________________________________________________________

<img src='../img/reco27.JPG'>

____________________________________________________________________________________________________

<img src='../img/reco28.JPG'>


____________________________________________________________________________________________________

<img src='../img/reco29.JPG'>


____________________________________________________________________________________________________

<img src='../img/reco30.JPG'>


____________________________________________________________________________________________________

<img src='../img/reco31.JPG'>


____________________________________________________________________________________________________

<img src='../img/reco32.JPG'>


____________________________________________________________________________________________________

<img src='../img/reco33.JPG'>


____________________________________________________________________________________________________

In [30]:
def SGD(R, K, lamda=0.02,steps=10, gamma=0.001):
    
    M,N = R.shape
    P = np.random.rand(M,K)
    Q = np.random.rand(K,N)
    
    rmse = np.sqrt(error(R,P,Q,lamda)/len(R.data))
    print("Initial RMSE: "+str(rmse))
    
    for step in range(steps):
        for ui in range(len(R.data)):
            rui=R.data[ui]
            u = R.row[ui]
            i = R.col[ui]
            if rui>0:
                eui=rui-np.dot(P[u,:],Q[:,i])
                P[u,:]=P[u,:]+gamma*2*(eui*Q[:,i]-lamda*P[u,:])
                Q[:,i]=Q[:,i]+gamma*2*(eui*P[u,:]-lamda*Q[:,i])
        rmse = np.sqrt(error(R,P,Q,lamda)/len(R.data))
        if rmse<0.5:
            break
    print("Final RMSE: "+str(rmse))
    return P,Q

In [31]:
(P,Q)=SGD(R,K=2,gamma=0.0007,lamda=0.01, steps=100)

Initial RMSE: 4.329548191943079
Final RMSE: 0.7909539408925044